<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO list</title>
    <link rel="stylesheet" href="style.css">

    <%- include('partials/header') %>
</head>

<body>
    <div class="box" style="text-align: center;">
        <h1 style="text-decoration: underline;">To-Do List</h1>
    </div>
    <div class="box">
        <ul>
            <% tasks.forEach(task=> { %>
                <li
                    style="background-color: <%= task.priority === 'high' ? '#FF8C8C' : task.priority === 'mid' ? '#FFF782' : '#94ffa9' %>">
                    <form id="button-checkbox" action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
                        <button type="checkbox" style="margin-right:10px ;"></button>
                    </form>
                    <form action="/tasks/edit/<%= task._id %>?_method=PUT" method="POST">
                        <input type="text" name="title" value="<%= task.title %>" required>
                        <select name="priority">
                            <option value="low" <%=task.priority==='low' ? 'selected' : '' %>>Low</option>
                            <option value="mid" <%=task.priority==='mid' ? 'selected' : '' %>>Mid</option>
                            <option value="high" <%=task.priority==='high' ? 'selected' : '' %>>High</option>
                        </select>
                        <button type="submit" style="font-size: 100%;">
                            ✓
                        </button>
                    </form>
                </li>
                <% }) %>
        </ul>
        <form action="/tasks" method="POST">
            <input type="text" name="title" placeholder="Enter task" required>
            <select name="priority">
                <option class="option" value="low">Low</option>
                <option class="option" value="mid">Mid</option>
                <option class="option" value="high">High</option>
            </select>
            <button type="submit">+</button>
        </form>
</body>

</html>